/* IMPORT FONTS FOR PROJECT */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

/* SETTINGS */

html, body {
    --smoke: #655967;
    --fire: #f09717;
    --water: #3ca8df;
    --earth: #06a322;
    height: 100%;
}

/** TEXT MARKUP **/

.fireSpan {
    font-family: 'Press Start 2P', cursive;
    color: var(--fire);
    text-shadow: 3px 3px #FF0000;
}

.waterSpan {
    font-family: 'Press Start 2P', cursive;
    color: var(--water);
    text-shadow: 3px 3px #06597e;

}

.earthSpan {
    font-family: 'Press Start 2P', cursive;
    color: var(--earth);
    text-shadow: 3px 3px #0a8317;

}

header .fireSpan {
    text-shadow: 5px 5px #FF0000;
}

header .waterSpan {
    text-shadow: 5px 5px #06597e;
}

header .earthSpan {
    text-shadow: 5px 5px #0a8317;
}

.p2-font {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}

.wrap {
    min-height: 100%;
}

/* PAGE CONTENT DESIGN */

header {
    padding-top: 10vh;
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

main {
    font-family: 'Press Start 2P', cursive;
    overflow-wrap: normal;
    overflow: auto;
    /* MUST BE SAME HEIGHT AS FOOTER */
    padding-bottom: 180px;
}

footer {
    /*FONT SETTINGS FOR FOOTER */
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
    text-align: center;
    color: var(--smoke);

    /* NEGATIVE VALUE OF FOOTER HEIGHT */
    background-color: #090909;
    margin-top: -180px;
    position: relative;
    height: 180px;
    clear: both; 
}

/* ID'S FOR SPECIFIC CONTENT */

#description {
    text-align: center;
    padding-top: 10vh;
    text-shadow: 3px 3px var(--smoke);
}

#score-content {
    padding-left: 30vh;
    padding-right: 30vh;
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
}

#image-icons {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#image-icons img {
    height: auto;
}

#input-caption {
    text-align: center;
}

#selection {
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 6vh;
    display: flex;
    justify-content: space-between;
}

#result {
    padding-top: 6vh;
    text-align: center;
    padding-bottom: 5vh;
}


/* BUTTONS AND JAVASCRIPT FORMATTING */

button {
    border-radius:2em;
    padding: 1.5vh;
    opacity: 50%;
    transition: 100ms;
}

button:hover {
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.2);
    
}



/* FORMAT FOR PHONES */ 

@media only screen and (max-width: 600px)
{
    header {
        font-size: 3rem;
    }

    #score-content {
        display: flex;
        justify-content: space-between;
        padding-top: 10vh;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    
    #selection {
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 6vh;
    display: flex;
    justify-content: space-between;
    }
}
